html {
	background-image: url("https://78.media.tumblr.com/083e50ffb32618f8c7041a16155745e7/tumblr_olmz6jItUe1u7gnm9o1_500.gif")
}

h1 {
	background-image: url("https://i.ytimg.com/vi/PeEFK0hTfeA/maxresdefault.jpg");
	color: white;
	padding: 4pt;
	font-weight: bold
}

.button {
	background-color: #f15d3d;
	color: white
}
